Manifest-Version: 1.0
Main-Class: de.bo.mediknight.MainFrame
Class-Path: lib/bojpf.jar lib/hsqldb.jar lib/jdom.jar lib/mm.mysql-2.0.2-bin.jar lib/FlexGrid.jar lib/jbcl.jar lib/LayoutAssistant.jar lib/xerces.jar
